body {
    background: #E6E4E4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666666;
    background-image: url('/images/background.jpg');
}

#container {
	max-width: 59em;
  margin: 2em 6%;
}

nav {
	border-bottom: 1px #d7d7d7 solid;
	padding: 2em 0em;
}


nav li {
	float: left;
	width: 30%;
	margin-right: 5%;
	padding: 0.8em 0em;
	text-align: center;
	border-radius: 0.6em;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

nav li:last-child {
	margin-right: 0;
}

nav li.contact { background-color: #26E5EF; }
nav li.linkedin { background-color: #BBA9D1; }
nav li.cv { background-color: #FF8EC2; }

nav a {
	color: #FFFFFF;
	text-decoration: none;
}

#work {
	margin: 2em 0em;
}

.work {
  background: #fff;
  margin: 1em 0em;
	border-bottom: 0.4em #D7D7D7 solid;
}

.work .inner-container h3 {
  padding: 2rem 1rem 1rem 1rem;
}

.work .inner-container h4 {
  padding: 0rem 2rem 1rem 2rem;
  line-height: 1.5em;
}

.work .inner-container p {
  text-align: center;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.3em;
  padding: 0 1em 1em 1em;
}

.work ul {
	margin: 0 auto 1em auto;
  max-width: 80%;
}

.work ul.collection2 {
  width: 40%;
}

.work li {
  float: left;
  width: 30%;
  margin-right: 5%;
  text-align: center;
}

.work ul.collection2 li {
  width: 47.5%;
}

.work ul.collection4 li {
  width: 21.25%;
}

.work li:last-child {
  margin-right: 0%;
}

.work li a {
	width: 2.4em;
	height: 2.4em;
  margin-top: 2em;
	border-radius: 1.2em;
	display: inline-block;
	background-color: #9FE7E4;
}

.work li.selected a {
	background-color: #1CBCB4;
}

.work li a span {
	display: none;
}

.row {
	margin-bottom: 1.4em;
} 

.thumbnail {
  float: left;
  width: 31.33%;
  margin-right: 3%;
  background: #fff;
	border-bottom: 0.3rem #D7D7D7 solid;
}
.thumbnail:last-child {
	margin-right: 0em;
}

.thumbnail .inner-container {
	margin: 10%;
	position: relative;
}

.thumbnail .reveal {
  display: none;
}

.thumbnail .reveal.active {
	position: absolute;
}

.work, .thumbnail {
  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -ms-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}

.loading {
  opacity: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: #4a4a4a;
}

h1, h2 {
  font-size: 1.7em;
  font-weight: 300;
  line-height: 1.2em;
}

h3 {
  font-size: 1.9em;
  font-weight: 300;
  padding-bottom: 1rem;
}

h4 {
  font-size: 1.3em;
  font-weight: 300;
  /*padding-bottom: 1rem; */
}

h1 strong,h2 strong {
  font-weight: 500;
}

.work img, .thumbnail img {
  width: 100%;
  height: auto;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

#divider {
  background-image: url('/images/divider.png');
  height: 24px;
  width: 100%;
  margin: 2em 0;
}

footer {
	text-align: center;
}

@media (min-width: 360px) {
  h1, h2 {
    font-size: 2em;
    line-height: 1.3em;
  }
}

@media (min-width: 720px) {
	#container {
		margin: 0 auto;
		padding: 6em 3em 3em 3em;
	}

  nav {
    padding: 2em 0em 3em 0em;
  }

  nav ul {
    max-width: 370px;
    margin: 0 auto;
  }

  nav li {
    padding: 0.4em 0;
    font-size: 1.1em;
    letter-spacing: 0.03em;
  }

	.image-selector ul {
		width: 40%;
	}

	.work .inner-container {
		max-width: 35.6em;
		padding: 2em 0em;
		margin: 0 auto;
	}
}

@media (min-width: 944px) {
}
