body {
    background: #E6E4E4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

#container {
	max-width: 59em;
  margin: 2em 6%;
}

nav {
	border-bottom: 2px #F0EFED solid;
	padding: 2em 0em;
}


nav li {
	float: left;
	width: 30%;
	margin-right: 5%;
	padding: 0.8em 0em;
	text-align: center;
	border-radius: 0.6em;
}

nav li:last-child {
	margin-right: 0;
}

nav li.contact { background-color: #26E5EF; }
nav li.linkedin { background-color: #BBA9D1; }
nav li.cv { background-color: #FF8EC2; }

nav a {
	color: #FFFFFF;
	text-decoration: none;
}

#work {
	margin: 2em 0em;
}

.work {
  background: #fff;
  margin: 1em 0em;
	border-bottom: 0.3em #D7D7D7 solid;
}

.work .inner-container {
  padding: 1em;
}

.work li {
	float: left;
	width: 30%;
	margin-right: 5%;
	text-align: center;
}
.work li:last-child {
	margin-right: 0%;
}

.work ul {
	margin: 0 auto 1em auto;
}

.work ul.collection3 {
	max-width: 80%;
}

.work li a {
	width: 2.4em;
	height: 2.4em;
	border-radius: 1.2em;
	display: inline-block;
	background-color: #9FE7E4;
}

.work li.selected a {
	background-color: #1CBCB4;
}

.work li a span {
	display: none;
}

.row {
	margin-bottom: 2em;
} 

.thumbnail {
  float: left;
  width: 32%;
  margin-right: 2%;
  height: 10em;
  background: #fff;
	border-bottom: 0.2em #D7D7D7 solid;
}
.thumbnail:last-child {
	margin-right: 0em;
}

.thumbnail .inner-container {
	margin: 10%;
	position: relative;
}

.thumbnail .reveal {
  display: none;
}

.thumbnail .reveal.active {
	position: absolute;
}

.work, .thumbnail {
  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -ms-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}

.loading {
  opacity: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.work img, .thumbnail img {
  width: 100%;
  height: auto;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

footer {
	text-align: center;
}

@media (min-width: 720px) {
	#container {
		margin: 0 auto;
		padding: 3em;
	}

  nav ul {
    max-width: 370px;
    margin: 0 auto;
  }

  nav li {
    padding: 0.4em 0;
  }

	.image-selector ul {
		width: 40%;
	}

	.work .inner-container {
		max-width: 35.6em;
		padding: 2em 0em;
		margin: 0 auto;
	}
}

@media (min-width: 944px) {
}
